div.top{
    height: 100px; width: 100px;
    border-radius: 0%;
    text-align: center;

}
div.down{
    height: 100px; width: 100px;
    border-radius: 0%;
    text-align: center;
}
.red{
    background-color: rgb(248, 65, 65);
    border-radius: 10px;

}
.yellow{
    background-color: rgb(250, 247, 85);
    border-radius: 10px;
}
.blue{
    background-color: rgb(100, 100, 253);
    border-radius: 10px;
}
.green{
    background-color: rgb(75, 241, 75);
    border-radius: 10px;
}