
form{
    font-family: Georgia; font-size: 14; color: SlateGray;

}
input{
    height: 30px; width: 75px;
}
button{
    height: 30px; width: 75px; border:  Azure; 
}
input  {height: 30px; width: 100px;}